:root {
    --primary-color: #175B8C;   /* Primary Blue */
    --accent-color: #F24515;    /* Accent Red */
    --text-color: #FFFFFF;      /* White text */
    --light-bg: #f8f9fa;        /* Light background for sections */
}
